.Button {
    /* background-color: transparent; */
    border-radius: 28px;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px 20px 10px 20px;
    margin: 10px;
    text-align: center;
    font-weight: bold;
}

.Success {
    background: #2dcf59;
    color: #ffffff;
}

.Danger {
    background: #d61111;
    color: #ffffff;
}

.Button:disabled{
  color : #ccc;
  cursor: not-allowed;
}

.Success:hover {
  background: #397d28;
  color: #ffffff;
}

.Danger:hover {
  background: #ad0000;
  color: #ffffff;
}
